export http_proxy="http://eric_molle:NiXR0w+W@10.49.64.5:8080"
export https_proxy="http://eric_molle:NiXR0w+W@10.49.64.5:8080"
export ftp_proxy="http://eric_molle:NiXR0w+W@10.49.64.5:8080"

export HTTP_PROXY="http://eric_molle:NiXR0w+W@10.49.64.5:8080"
export HTTPS_PROXY="http://eric_molle:NiXR0w+W@10.49.64.5:8080"
export FTP_PROXY="http://eric_molle:NiXR0w+W@10.49.64.5:8080"

